
<html>
    
<head>
    <style>
        @import url(https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css);
    </style>
</head>


{{msg}}

{{form.errors}}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     {{ form.as_p }}
<button type="submit">Create</button>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.full.min.js"></script>

<script>

$(function () {
    $("select").select2();
});
</script>

</html>