

<html>


</html>

<p></p> You changed the <b>*Machine*</b>  of a Hardware Bundle

<p> Location: {{location}} <br>
Time: {{timestamp}}</p>

<p>New Bundle: </p>

<p><b>New Machine:</b> {{new_machine}} - {{new_machine.asset_code}} (Make&Model: {{new_machine.get_asset_model}}) <br>
Slot: {{slot}} <br>
Card Reader: Card Reader Asset {{card_reader.card_reader_tag}}</p>


<p>Previous Bundle: </p>

<p><b>Old Machine:</b> {{old_machine}} - {{old_machine.asset_code}} (Make&Model: {{old_machine.get_asset_model}})<br>
Slot: {{slot}} <br>
Card Reader: Card Reader Asset {{card_reader.card_reader_tag}}</p>