


<html>

    You Warehoused the machine of a HardWare Bundle
    
    Location: {{location}}
    Time: {{timestamp}}
    
    New Bundle:
    
    Machine: {{machine}} - {{machine.asset_code}}
    <b>New Slot: {{new_slot}}</b>
    Card Reader: Card Reader Asset {{card_reader.card_reader_tag}}
    
    
    Previous Bundle:
    
    Machine: {{machine}} - {{machine.asset_code}}
    <b>Old Slot: {{old_slot}}</b>
    Card Reader: Card Reader Asset {{card_reader.card_reader_tag}}
    
    
    </html>