Create a virtualenv

Install Localstack
    pip3 install localstack==0.11.6

Start Docker

Run a localstack environment:
    docker run -p 4569:4569 -p 4572:4572  -p 4575:4575 -p 4576:4576 -p 4566:4566 -p 50665:50665 -e SERVICES=sqs -p 8080:8080 localstack/localstack

Create a localstack queue
    aws sqs create-queue --queue-name MyLocalQueue --endpoint-url http://0.0.0.0:4566 --region us-east-1 --profile localstack

    Response:
        {
            "QueueUrl": "http://localhost:4566/000000000000/MyLocalQueue"
        }

Send a message to the queue
    aws sqs send-message \
    --queue-url=http://0.0.0.0:4566/queue/MyLocalQueue \
    --message-body=file://queue/body.json \
    --message-attributes=file://queue/queueAttrs.json \
    --endpoint-url=http://0.0.0.0:4566 \
    --region us-east-1 \
    --profile localstack 


Ingest messages:
    AWS_REGION=us-east-1 SQS_ENDPOINT=http://0.0.0.0:4566 USE_SSL=0 ACCESS_KEY=foo SECRET_KEY=bar SQS_QUEUE_NAME=MyLocalQueue python queue/queueMessageIngest.py

