<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
</head>
<body>
	<br />
    {{msg}}
	<form method="post" action="https://test.authorize.net/customer/addPayment" id="formAuthorizeNetTestPage" name="formAuthorizeNetTestPage">
		<input type="hidden" id="redirectToken" name="token" value="{{token}}" />
		Redirect-Continue to Authorize.Net to Payment Page
		<button id="btnContinue" onclick="">Continue to next page</button>
	</form>
</body>
</html>