<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <style media="screen">
    #select_billing_group {
      height: 400px;
    }
  </style>
</head>
</body>

Select Billing Group

{% if msg %}
  {{msg}}
{% endif %}

{{form.errors}}

<form action="" method="post">
    {% csrf_token %}
	{{data_form.as_ul}}
    <input type="submit" value="Continue" />
</form>


</body>
</html>
