

<html>

<body>
    {% for room, result in room_results.items %}
        <h3>{{room}}</h3>
            <table style="width:100%">
                <tr>
                    <th style="text-align:left">Fascard Record ID</th>
                    <th style="text-align:left">Assigned Time</th>
                    <th style="text-align:left">Transaction Type</th>
                    <th style="text-align:left">Credit Card Amount</th>
                    <th style="text-align:left">Cash Amount</th>
                    <th style="text-align:left">Balance Amount</th>
                    <th style="text-align:left">Bonus Amount</th>
                    <th style="text-align:left">CC Last four</th>
                    <th style="text-align:left">Is Employee?</th>
                    <th style="text-align:left">Employee Name</th>

                </tr>
            {% for tx in result %}
                <tr>
                    <td>{{tx.fascard_record_id}}</td>
                    <td>{{tx.assigned_local_transaction_time}}</td>
                    <td>{% if tx.transaction_type == '2' %} Value Add {% elif tx.transaction_type == '100'  %} Direct Vend {% endif %}</td>
                    <td>{{tx.credit_card_amount}}</td>
                    <td>{{tx.cash_amount}}</td>
                    <td>{{tx.balance_amount}}</td>
                    <td>{{tx.bonus_amount}}</td>
                    <td>{{tx.last_four}}</td>
                    <!-- <td>{{tx.first_name}}</td>
                    <td>{{tx.last_name}}</td> -->
                    {% if tx.fascard_user %}
                        <td>{{tx.fascard_user.is_employee}}</td>
                        <td>{{tx.fascard_user.name}}</td>
                    {% else %}
                        <td>Unknown</td>
                        <td>N/A</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
    {% endfor %}
</body>

</html>